@import "tailwindcss";

.light {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #0f172a;
  --text-color: white;
}

.light,
.dark {
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}